* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.hub-nav {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: aliceblue;
  justify-content:space-between;
  display: flex;
  align-items: center;
}

.links {
  width: 90%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex: content;
  font-family:'Courier New', Courier, monospace ;

}

.titolo {
  text-align: center;
}


.enigma-card{
  display: flex;
  flex-direction: column;

  
  padding-bottom: 10px;
  padding-right: 10px;

  width: 400px;
  height: 300px;
  border: 2px solid red;
  border-radius: 5%;
  


}

.enigma-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 100px;
  justify-content: center;
  margin-top: 50px;
}


.bottone{
  width: 100px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.404);
  border: 2px solid black;
  border-radius: 5px;

  align-self: flex-end;
  margin-top: auto;
    
}

.bottone2{
  width: 100px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.404);
  border: 2px solid black;
  border-radius: 5px;

  align-self: flex-end;
  margin-top: auto;
    
}

.nomeEnigma {
  width: 100%;
  text-align: center;
}

.logoEnigma{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 90%;
  height: 180px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
  justify-content: center;
  padding-top: 150px;
}

.carta {
  width: 80px;
  height: 80px;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}


.carta:hover{
  background-color: gray;
  transition: background-color 0.2s;
}